{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/usrs">/users</a>.
        </p>
    </div>
    <div class="row">


      {% for image in images %}
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{image.url}}" alt="Profile Pic Failed to load">
              <span class="card-title">{{image.user}}</span>
            </div>
            <div class="card-content">
              <p> User: {{image.user.id}} Image: {{image.id}} </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
{% endblock %}
