{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}

      {% for image in images %}
      <div class="row">
        <div class="">
          <div class="card">
            <div class="card-image">
              <img src="{{image.url}}" alt="Profile Pic Failed to load">
              <span class="card-title">UserID: {{image.user}}</span>
            </div>
            <div class="card-content">
              <p> ImageID: {{image.id}}  Score: {{image.rankings.score}}</p>  
            </div>
            <div class="card-action">
              <form action="/ranking/{{image.id}}" method="post">
                <p class="range-field">
                  <input type="range" id="ratingSlider" name="score" min="0" max="5" />
                </p>
                <!-- <input type="hidden" name="imageID" value="{{image.id}}" /> -->
                <button class="myButton col-s6" type="submit">Add Rating
                  <i class="tiny left material-icons">rate_review</i>
               </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
{% endblock %}
